

.list{
    font-size:12px;
}

.details{
    font-size:14px;

}

.title {
    font-weight: bold;
    font-size: larger;
}

.titleList {
    font-weight: bold;
    font-size: smaller;
}

.date {
    font-weight: normal;
   font-style: italic;
}
